In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
female_lungs = pd.read_csv('data/lung_cancer_number_of_female_deaths.csv')
female_lungs

,country,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Afghanistan,220,233,250,270,289,308,317,324,330,...,468,489,511,535,559,586,617,648,679,712
1,Angola,125,128,132,138,146,151,152,155,166,...,233,244,255,266,279,294,310,327,345,364
2,Albania,95.2,99.1,102,106,112,118,125,133,140,...,169,170,172,174,176,179,183,186,190,193
3,Andorra,4.34,4.7,5.01,5.35,5.59,5.53,5.53,5.59,5.67,...,7.51,7.84,8.19,8.41,8.58,8.74,8.88,9.02,9.16,9.2
4,United Arab Emirates,7.21,7.72,8.3,8.91,9.6,10.4,11.1,11.8,12.5,...,23.2,26.9,31,35.9,39.1,42.1,45.3,48.8,53,57.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Samoa,1.76,1.8,1.85,1.89,1.93,1.96,1.98,2,2.01,...,2.39,2.44,2.5,2.57,2.63,2.69,2.74,2.8,2.86,2.92
192,Yemen,142,149,156,163,171,179,186,193,198,...,279,292,305,320,331,344,359,375,389,403
193,South Africa,1160,1170,1200,1210,1230,1240,1310,1420,1480,...,1710,1730,1770,1800,1850,1900,1950,2020,2100,2170
194,Zambia,50.6,53.2,55.8,58.2,61,63.7,66.1,68.2,70.3,...,86.2,89.7,93.3,96.7,101,106,111,116,122,129
195,Zimbabwe,230,224,211,201,192,184,188,189,194,...,260,254,251,247,240,235,233,234,235,236

In [8]:
males_lungs = pd.read_csv('data/lung_cancer_number_of_male_deaths.csv')
males_cs = males_lungs.set_index("country")

In [ ]:
def horizontal_merge(df1, df2):
    return df1.merge(df2, left_on = ['country','Year'], right_on = ['Country Name', 'Year'], \
                     suffixes=['_life', '_pop'])

In [6]:
def _indicator_melt(df,indicator):
    return pd.melt(df, id_vars=[df.columns[0]], \
        value_vars = df.columns[1:], var_name='year', value_name= indicator)

In [ ]:
def vertical_merge(df1, df2):
    return pd.concat([df1, df2], ignore_index=True)

In [13]:
def _converter(x):
    if type(x) == str:
        if x[-1] == 'K' or x[-1] == 'k':
            return float(x[:-1])*(10**3)
        elif x[-1] == 'M' or x[-1] == 'm':
            return float(x[:-1])*(10**6)
        elif x[-1] == 'B' or x[-1] == 'm':
            return float(x[:-1])*(10**9)
        else:
            return float(x)
    else:
        return x

In [11]:
def fix_nums(lst):
    output = []
    for num in lst:
        if n.isnull(): 
            if "k" in num:
                death = num.strip("k")
                death = float(death) * 1000
            else: 
                death = float(num)
        output.append(num)
    return output

all(isinstance(x, str) for x in deaths_uncleaned)

True

In [21]:
male_cs_melt = _indicator_melt(males_lungs, 'deaths')
males_cs_melt = male_cs_melt.dropna()
males_cs_melt = males_cs_melt.assign(deaths = males_cs_melt.get('deaths').apply(_converter))
#.get("deaths").apply(_converter)
males_cs_melt
#plot years
#plot country by years

                   country  year   deaths
0              Afghanistan  1989   577.00
1                   Angola  1989   268.00
2                  Albania  1989   471.00
3                  Andorra  1989    13.70
4     United Arab Emirates  1989    35.70
...                    ...   ...      ...
5287                 Samoa  2015     6.18
5288                 Yemen  2015  1090.00
5289          South Africa  2015  4830.00
5290                Zambia  2015   277.00
5291              Zimbabwe  2015   517.00

[5240 rows x 3 columns]

In [9]:
female_cs_melt = _indicator_melt(female_lungs, 'deaths')

deaths_uncleaned = list(female_cs_melt.get("deaths").dropna())
#deaths_uncleaned = [x for x in deaths_uncleaned if np.isnan(x) == False]


# def fix_nums(lst):
#     output = []
#     for num in lst:
#         if n.isnull(): 
#             if "k" in num:
#                 death = num.strip("k")
#                 death = float(death) * 1000
#             else: 
#                 death = float(num)
#         output.append(num)
#     return output

# all(isinstance(x, str) for x in deaths_uncleaned)
# fix_nums(deaths_uncleaned)
deaths_uncleaned

# female_cs_melt.assign(deaths = female_cs_melt.get('deaths').apply(float), year = female_cs_melt.get('year').apply(float))
    
# female_cs_melt

['220',
 '125',
 '95.2',
 '4.34',
 '7.21',
 '1620',
 '136',
 '1.19',
 '1.5',
 '1610',
 '802',
 '184',
 '43.4',
 '1000',
 '57',
 '83.5',
 '2350',
 '498',
 '12.8',
 '6.27',
 '268',
 '515',
 '2.61',
 '6.48',
 '166',
 '4080',
 '8.15',
 '9.5',
 '4.81',
 '25.9',
 '43.6',
 '4680',
 '560',
 '526',
 '84.1k',
 '76.1',
 '203',
 '377',
 '55.5',
 '849',
 '3.05',
 '7.16',
 '54.3',
 '888',
 '25',
 '946',
 '7670',
 '2.43',
 '2.2',
 '1190',
 '137',
 '196',
 '136',
 '541',
 '16.7',
 '1690',
 '119',
 '355',
 '413',
 '8.62',
 '3170',
 '2.4',
 '25.8',
 '13k',
 '222',
 '91.5',
 '59.7',
 '6.01',
 '14',
 '6.45',
 '883',
 '2.98',
 '14.2',
 '114',
 '5.78',
 '8.86',
 '72.5',
 '398',
 '213',
 '1460',
 '1540',
 '6380',
 '495',
 '695',
 '233',
 '38',
 '333',
 '5430',
 '67.6',
 '32.1',
 '10.2k',
 '915',
 '121',
 '121',
 '222',
 '1.39',
 '1630',
 '18.8',
 '122',
 '84',
 '15.6',
 '38.5',
 '3.9',
 '200',
 '24.1',
 '208',
 '38.3',
 '194',
 '164',
 '222',
 '63.6',
 '1.31',
 '1650',
 '0.53',
 '80.1',
 '86.6',
 '14.4',
 '1320',
 '63.5',
 '91.1',
 '1.21',
 '98.1',
 '28.5',
 '21.4',
 '54.9',
 '616',
 '12.4',
 '62.5',
 '691',
 '31',
 '1390',
 '441',
 '271',
 '436',
 '9.57',
 '806',
 '46.4',
 '537',
 '1270',
 '76.8',
 '3530',
 '172',
 '3880',
 '524',
 '70.3',
 '20.2',
 '2.69',
 '1130',
 '10.1k',
 '39.8',
 '125',
 '260',
 '70.1',
 '228',
 '5.67',
 '29.2',
 '78.4',
 '44.9',
 '705',
 '32.9',
 '1.9',
 '10.3',
 '289',
 '154',
 '968',
 '16',
 '1.71',
 '105',
 '57.6',
 '47.2',
 '3810',
 '107',
 '57.1',
 '9.86',
 '4.15',
 '23.1',
 '77.4',
 '1720',
 '1070',
 '179',
 '111',
 '4210',
 '196',
 '54.7k',
 '444',
 '2.58',
 '566',
 '6010',
 '3.06',
 '1.76',
 '142',
 '1160',
 '50.6',
 '230',
 '233',
 '128',
 '99.1',
 '4.7',
 '7.72',
 '1670',
 '134',
 '1.24',
 '1.56',
 '1670',
 '815',
 '181',
 '44.1',
 '1030',
 '58.3',
 '84.7',
 '2400',
 '511',
 '12.9',
 '6.41',
 '272',
 '539',
 '2.78',
 '6.9',
 '171',
 '4230',
 '8.52',
 '9.83',
 '4.85',
 '26.7',
 '44.6',
 '4930',
 '590',
 '534',
 '85.8k',
 '79.7',
 '206',
 '387',
 '57',
 '901',
 '3.13',
 '7.24',
 '55.4',
 '912',
 '25.9',
 '982',
 '7980',
 '2.51',
 '2.33',
 '1240',
 '145',
 '202',
 '142',
 '554',
 '17',
 '1730',
 '124',
 '364',
 '415',
 '8.78',
 '3280',
 '2.51',
 '26.5',
 '13.2k',
 '219',
 '95.4',
 '63.1',
 '6.18',
 '14.2',
 '6.53',
 '910',
 '3.04',
 '14.6',
 '121',
 '6.02',
 '9.45',
 '75.8',
 '402',
 '216',
 '1540',
 '1600',
 '6570',
 '505',
 '734',
 '240',
 '40.4',
 '348',
 '5580',
 '69.8',
 '33.7',
 '10.7k',
 '910',
 '126',
 '121',
 '233',
 '1.43',
 '1790',
 '17.5',
 '126',
 '85.6',
 '14.9',
 '40',
 '4.09',
 '207',
 '24.6',
 '215',
 '39.2',
 '191',
 '172',
 '226',
 '65.1',
 '1.35',
 '1690',
 '0.56',
 '80.2',
 '84.8',
 '14.7',
 '1350',
 '64.5',
 '95.6',
 '1.28',
 '101',
 '29.1',
 '21.9',
 '57',
 '623',
 '12.7',
 '64.6',
 '693',
 '32',
 '1470',
 '463',
 '277',
 '456',
 '9.86',
 '855',
 '48.2',
 '570',
 '1340',
 '80.3',
 '3720',
 '178',
 '4030',
 '539',
 '73.5',
 '20.9',
 '2.83',
 '1150',
 '10.1k',
 '39.8',
 '130',
 '269',
 '71.8',
 '231',
 '5.93',
 '29.1',
 '80.9',
 '44.9',
 '730',
 '32.8',
 '1.96',
 '10.8',
 '294',
 '161',
 '994',
 '16.2',
 '1.76',
 '109',
 '57.6',
 '48.2',
 '4000',
 '98.8',
 '57.2',
 '10.5',
 '4.44',
 '24.8',
 '80.6',
 '1790',
 '1160',
 '186',
 '119',
 '4310',
 '206',
 '56.6k',
 '443',
 '2.68',
 '591',
 '6210',
 '3.22',
 '1.8',
 '149',
 '1170',
 '53.2',
 '224',
 '250',
 '132',
 '102',
 '5.01',
 '8.3',
 '1720',
 '142',
 '1.29',
 '1.6',
 '1740',
 '826',
 '178',
 '44.8',
 '1060',
 '60',
 '86.8',
 '2500',
 '512',
 '13.1',
 '6.57',
 '271',
 '553',
 '2.97',
 '7.21',
 '177',
 '4450',
 '8.79',
 '10.2',
 '4.85',
 '27.6',
 '45.2',
 '5190',
 '629',
 '549',
 '87.8k',
 '83.3',
 '209',
 '395',
 '58.8',
 '942',
 '3.23',
 '7.38',
 '57.4',
 '937',
 '26.8',
 '1010',
 '8240',
 '2.57',
 '2.42',
 '1290',
 '154',
 '201',
 '150',
 '570',
 '17.1',
 '1750',
 '123',
 '374',
 '421',
 '8.93',
 '3370',
 '2.61',
 '27.1',
 '13.4k',
 '206',
 '99.8',
 '67',
 '6.36',
 '14.5',
 '6.64',
 '939',
 '3.08',
 '14.8',
 '129',
 '6.29',
 '9.77',
 '79.5',
 '409',
 '218',
 '1620',
 '1660',
 '6800',
 '525',
 '770',
 '247',
 '42.5',
 '369',
 '5730',
 '71.3',
 '35.4',
 '11.2k',
 '909',
 '133',
 '121',
 '246',
 '1.46',
 '1970',
 '16.6',
 '131',
 '88.2',
 '14.2',
 '41.7',
 '4.29',
 '215',
 '25.3',
 '209',
 '40',
 '190',
 '180',
 '205',
 '67',
 '1.39',
 '1750',
 '0.58',
 '80.9',
 '83.4',
 '15.4',
 '1380',
 '65.5',
 '100',
 '1.35',
 '104',
 '29.7',
 '21.8',
 '58.7',
 '631',
 '13.1',
 '67.3',
 '697',
 '33.1',
 '1580',
 '484',
 '283',
 '471',
 '10.1',
 '912',
 '50.2',
 '610',
 '1410',
 '84',
 '3800',
 '184',
 '4170',
 '548',
 '76.5',
 '21.8',
 '2.95',
 '1180',
 '10.4k',
 '38.3',
 '136',
 '280',
 '73.6',
 '237',
 '6.23',
 '28.7',
 '83.3',
 '44.7',
 '758',
 '33.1',
 '2.02',
 '11.4',
 '297',
 '166',
 '1010',
 '16.3',
 '1.81',
 '113',
 '59.3',
 '49',
 '4190',
 '90.2',
 '58.6',
 '11.1',
 '4.62',
 '25.7',
 '84.4',
 '1830',
 '1250',
 '193',
 '125',
 '4310',
 '208',
 '58.8k',
 '446',
 '2.8',
 '612',
 '6430',
 '3.38',
 '1.85',
 '156',
 '1200',
 '55.8',
 '211',
 '270',
 '138',
 '106',
 '5.35',
 '8.91',
 '1780',
 '138',
 '1.35',
 '1.58',
 '1800',
 '840',
 '176',
 '45.5',
 '1070',
 '61.6',
 '88.4',
 '2590',
 '515',
 '13.3',
 '6.71',
 '267',
 '570',
 '3.11',
 '7.25',
 '183',
 '4640',
 '8.56',
 '10.4',
 '4.83',
 '28.5',
 '47.2',
 '5490',
 '667',
 '581',
 '90.8k',
 '88.5',
 '212',
 '400',
 '61.3',
 '978',
 '3.33',
 '7.57',
 '59.6',
 '946',
 '27.6',
 '1040',
 '8560',
 '2.64',
 '2.38',
 '1360',
 '164',
 '202',
 '165',
 '591',
 '17.2',
 '1790',
 '128',
 '388',
 '426',
 '9.08',
 '3530',
 '2.72',
 '27.6',
 '13.6k',
 '190',
 '104',
 '71.2',
 '6.54',
 '14.8',
 '6.83',
 '960',
 '2.99',
 '15',
 '137',
 '6.54',
 '9.8',
 '82.8',
 '408',
 '222',
 '1700',
 '1740',
 '7010',
 '535',
 '809',
 '256',
 '44.1',
 '391',
 '5860',
 '72.9',
 '37.7',
 '11.6k',
 '910',
 '139',
 '120',
 '260',
 '1.5',
 '2180',
 '17.2',
 '137',
 '91.1',
 '13.6',
 '43.6',
 '4.14',
 '224',
 '26',
 '221',
 '40.8',
 '197',
 '189',
 '211',
 '69.5',
 '1.43',
 '1810',
 '0.6',
 '83.1',
 '81.4',
 '15.8',
 '1420',
 '66.4',
 '105',
 '1.43',
 '108',
 '30.3',
 '22.5',
 '60.3',
 '642',
 '13.4',
 '69.7',
 '701',
 '34.3',
 '1710',
 '512',
 '293',
 '483',
 '10.4',
 '970',
 '52.2',
 '652',
 '1470',
 '88',
 '3910',
 '188',
 '4300',
 '567',
 '79.7',
 '22.7',
 '3.09',
 '1240',
 '11.3k',
 '36.7',
 '143',
 '291',
 '74.8',
 '247',
 '6.55',
 '28.1',
 '87.6',
 '44.5',
 '785',
 '33.4',
 '2.09',
 '11.8',
 '298',
 '170',
 '1030',
 '16.2',
 '1.87',
 '118',
 '61',
 '49.7',
 '4350',
 '80.7',
 '60.1',
 '11.8',
 '4.77',
 '26.1',
 '88.6',
 '1910',
 '1350',
 '201',
 '132',
 '4320',
 '212',
 '61.1k',
 '444',
 '2.91',
 '621',
 '6680',
 '3.54',
 '1.89',
 '163',
 '1210',
 '58.2',
 '201',
 '289',
 '146',
 '112',
 '5.59',
 '9.6',
 '1840',
 '132',
 '1.4',
 '1.61',
 '1880',
 '855',
 '174',
 '46.2',
 '1090',
 '63.6',
 '90.2',
 '2680',
 '525',
 '13.6',
 '6.89',
 '265',
 '562',
 '3.29',
 '7.25',
 '190',
 '4890',
 '8.44',
 '10.7',
 '4.81',
 '29.6',
 '48.5',
 '5750',
 '704',
 '607',
 '93.6k',
 '93.1',
 '216',
 '406',
 '66.1',
 '1010',
 '3.43',
 '7.9',
 '60.6',
 '955',
 '29',
 '1080',
 '8950',
 '2.7',
 '2.4',
 '1430',
 '175',
 '203',
 '182',
 '611',
 '17.5',
 '1820',
 '130',
 '405',
 '431',
 '9.24',
 '3630',
 '2.83',
 '28.7',
 '13.7k',
 '170',
 '108',
 '75.8',
 '6.74',
 '15.1',
 '7.04',
 '985',
 '2.97',
 '15.2',
 '141',
 '6.84',
 '10.2',
 '86.3',
 '418',
 '225',
 '1770',
 '1800',
 '7250',
 '553',
 '848',
 '265',
 '46.6',
 '409',
 '5990',
 '75',
 '39.9',
 '12.1k',
 '915',
 '147',
 '121',
 '275',
 '1.54',
 '2430',
 '15.2',
 '142',
 '93.3',
 '13.3',
 '45.5',
 '4.14',
 '234',
 '26.9',
 '224',
 '41.9',
 '201',
 '199',
 '219',
 '71.4',
 '1.48',
 '1880',
 '0.63',
 '86.4',
 '80.1',
 '15.9',
 '1450',
 '67.5',
 '109',
 '1.51',
 '112',
 '31.1',
 '23.3',
 '62.2',
 '659',
 '13.7',
 '72.5',
 '704',
 '36.1',
 '1800',
 '537',
 '301',
 '503',
 '10.6',
 '1030',
 '54.4',
 '694',
 '1520',
 '92.3',
 '4060',
 '198',
 '4440',
 '575',
 '82.9',
 '23.7',
 '3.23',
 '1280',
 '11.7k',
 '35.4',
 '150',
 '303',
 '77.3',
 '255',
 '6.91',
 '27.5',
 '91.8',
 '44.5',
 '816',
 '33.9',
 '2.16',
 '12.2',
 '299',
 '174',
 '1050',
 '16.1',
 '1.93',
 '124',
 '61.4',
 '50.7',
 '4530',
 '73.7',
 '59.9',
 '12.5',
 '4.94',
 '26.2',
 '92.5',
 '1970',
 '1450',
 '210',
 '141',
 '4290',
 '213',
 '63.3k',
 '439',
 '3.02',
 '660',
 '6930',
 '3.7',
 '1.93',
 '171',
 '1230',
 '61',
 '192',
 '308',
 '151',
 '118',
 '5.53',
 '10.4',
 '1910',
 '130',
 '1.46',
 '1.71',
 '1950',
 '868',
 '170',
 '46.9',
 '1110',
 '66',
 '92.1',
 '2820',
 '542',
 '14.1',
 '7.42',
 '265',
 '567',
 '3.48',
 '7.51',
 '197',
 '5170',
 '8.84',
 '11.1',
 '4.81',
 '30.8',
 ...]

In [ ]:
#number of countries in this list
len(np.unique(female_cs_melt.get("country")))

In [ ]:
check = list(female_cs_melt.get("deaths"))[0]
type(check)

In [ ]:
female_cs_melt.get(["country", "deaths"]).groupby("country").mean()
#why is this not working...it should work

In [ ]:
test_Angola = males_cs.loc["Angola":"Angola"]
test_Angola.mean(axis=1)
test_Albania = males_cs.loc["Albania":"Albania"]
test_Albania.mean(axis = 1)

In [ ]:
df_averages = pd.DataFrame()
def averages(lst): 
    for arg in lst:
        df_temp = males_cs.loc[arg:arg]
        average = df_temp.mean(axis = 1)
        df_averages.append({"Country":arg}, ignore_index=True)
        df_averages.append({"Country":arg, "Average":average}, ignore_index=True)

In [ ]:
#averages(males_cs.index)

In [ ]:
#what to do -take average of each year for all the countries and plot that

In [ ]:
#how to reshape the dataframe pivot longer
#https://mgimond.github.io/ES218/Week03b.html -- R
#https://towardsdatascience.com/a-step-by-step-guide-to-pandas-pivot-tables-e0641d0c6c70
#https://medium.datadriveninvestor.com/dataframe-converting-some-columns-to-rows-and-some-rows-to-columns-ffa77e206611