In [34]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [2]:
country_gender_data = pd.read_csv("LifeExp_vs_Year.csv").drop(['Unnamed: 0', 'Country Name'],axis = 1)
bmi = pd.read_csv('females_males_just_BMI.csv').drop('Unnamed: 0',axis = 1)

In [3]:
bmi_male = bmi[['country','year', 'BMI_male']].rename(columns = {'BMI_male': 'BMI'})
bmi_male['Gender'] = 'Population, male'
bmi_male
bmi_female = bmi[['country','year', 'BMI_females']].rename(columns = {'BMI_females': 'BMI'})
bmi_female['Gender'] = 'Population, female'
bmi_female
final_bmi = pd.concat([bmi_male, bmi_female], ignore_index=True)
final_bmi = final_bmi.groupby(['country','Gender'])\
[['BMI']].mean().reset_index()

In [4]:
country_gender_data = country_gender_data.rename(columns = {'Indicator Name': 'Gender'})

In [5]:
country_gender_data = country_gender_data.groupby(['country','Gender'])\
[['LifeExpectancy']].mean().reset_index()

In [6]:
temp = final_bmi.merge(country_gender_data, on = ['country', 'Gender'])

In [7]:
temp

         country              Gender        BMI  LifeExpectancy
0    Afghanistan  Population, female  20.668966       51.168852
1    Afghanistan    Population, male  21.013793       48.931148
2        Albania  Population, female  25.189655       74.334426
3        Albania    Population, male  25.510345       69.998361
4        Algeria  Population, female  25.003448       65.501639
..           ...                 ...        ...             ...
335      Vietnam    Population, male  19.744828       64.721311
336       Zambia  Population, female  22.058621       53.418033
337       Zambia    Population, male  20.075862       49.803279
338     Zimbabwe  Population, female  24.868966       56.801639
339     Zimbabwe    Population, male  21.665517       52.832787

[340 rows x 4 columns]

In [8]:
# prediction for life expectancy given its gender, its country, 
# its bmi, its income, its happnies score
# the above factors include economic, physical and mental conditions, which should be comprehensive

                 country              Gender        BMI  LifeExpectancy
0            Afghanistan  Population, female  20.668966       51.168852
2                Albania  Population, female  25.189655       74.334426
4                Algeria  Population, female  25.003448       65.501639
6                 Angola  Population, female  21.406897       49.381967
8    Antigua and Barbuda  Population, female  25.965517       72.588525
..                   ...                 ...        ...             ...
330           Uzbekistan  Population, female  24.662069       69.270492
332              Vanuatu  Population, female  25.655172       64.311475
334              Vietnam  Population, female  19.762069       73.627869
336               Zambia  Population, female  22.058621       53.418033
338             Zimbabwe  Population, female  24.868966       56.801639

[170 rows x 4 columns]

In [51]:
enc = OneHotEncoder(handle_unknown = "ignore")
X = np.array(temp.get(["country", "Gender"]))
enc.fit(X)

OneHotEncoder(handle_unknown='ignore')

In [10]:
df_X = pd.DataFrame(enc.transform(X).toarray(), columns = enc.get_feature_names())
df_Y = pd.DataFrame(temp["LifeExpectancy"])

/Users/saathvikdirisala/Library/Python/3.8/lib/python/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [15]:
BMI = np.array(temp["BMI"]).reshape(len(temp), 1)
scaler = StandardScaler().fit(BMI)
BMI_scaled = scaler.transform(BMI)
df_X["BMI"] = BMI_scaled
df_X

,x0_Afghanistan,x0_Albania,x0_Algeria,x0_Angola,x0_Antigua and Barbuda,x0_Argentina,x0_Armenia,x0_Australia,x0_Austria,x0_Azerbaijan,...,x0_United States,x0_Uruguay,x0_Uzbekistan,x0_Vanuatu,x0_Vietnam,x0_Zambia,x0_Zimbabwe,"x1_Population, female","x1_Population, male",BMI
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.538862
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.385513
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.471538
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.614152
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.388730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-1.949836
336,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.920867
337,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,-1.802621
338,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.328924
339,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-1.095684

In [14]:
#Input:
country = "Afghanistan"
gender = "male"
bmi = 30

#Computation:
reg = LinearRegression().fit(np.array(df_X), np.array(df_Y))
input0 = enc.transform([[country, "Population, " + gender.lower()]]).toarray()
scaled_BMI_input = scaler.transform([[bmi]])
input0 = np.append(input0, scaled_BMI_input[0]).reshape(1, len(df_X.columns))
pred = reg.predict(input0)[0][0]

print("Life Expectancy: " + str(pred) + " years")

Life Expectancy: 47.0 years

In [48]:
reg = LinearRegression().fit(np.array(df_X), np.array(df_Y))
pred = reg.predict(np.array(df_X))
rmse = mean_squared_error(np.array(temp["LifeExpectancy"]).reshape(len(temp), 1), pred, squared = False)
rmse

1.023450401991029

In [59]:
#Female
temp_f = temp[temp.Gender == "Population, female"]

enc = OneHotEncoder(handle_unknown = "ignore")
X = np.array(temp_f.get(["country"]))
enc.fit(X)

df_X = pd.DataFrame(enc.transform(X).toarray(), columns = enc.get_feature_names())
df_Y = pd.DataFrame(temp_f["LifeExpectancy"])

BMI = np.array(temp_f["BMI"]).reshape(len(temp_f), 1)
scaler = StandardScaler().fit(BMI)
BMI_scaled = scaler.transform(BMI)
df_X["BMI"] = BMI_scaled

reg1 = LinearRegression().fit(np.array(df_X), np.array(df_Y))
pred1 = reg1.predict(np.array(df_X))
rmse1 = mean_squared_error(np.array(temp_f["LifeExpectancy"]).reshape(len(temp_f), 1), pred1, squared = False)
rmse1

/Users/saathvikdirisala/Library/Python/3.8/lib/python/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

1.7925834128552572e-14

In [61]:
#Male
temp_m = temp[temp.Gender == "Population, male"]

enc = OneHotEncoder(handle_unknown = "ignore")
X = np.array(temp_m.get(["country"]))
enc.fit(X)

df_X = pd.DataFrame(enc.transform(X).toarray(), columns = enc.get_feature_names())
df_Y = pd.DataFrame(temp_m["LifeExpectancy"])

BMI = np.array(temp_m["BMI"]).reshape(len(temp_m), 1)
scaler = StandardScaler().fit(BMI)
BMI_scaled = scaler.transform(BMI)
df_X["BMI"] = BMI_scaled

reg2 = LinearRegression().fit(np.array(df_X), np.array(df_Y))
pred2 = reg2.predict(np.array(df_X))
rmse2 = mean_squared_error(np.array(temp_m["LifeExpectancy"]).reshape(len(temp_m), 1), pred2, squared = False)
rmse2

/Users/saathvikdirisala/Library/Python/3.8/lib/python/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

1.5944196036328393e-14